*{
    border: 1px solid red;
    font-family: arial;
}

.flex-container{
    display:flex;
    justify-content: space-between;
}
.links-container{
    display:flex;
    width: 200px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between
}

.margin{
    margin: 0% 10% 0% 10%;
}

.margin2{
    margin: 5% 10% 5% 10%;
}

.body1 {
background-color: #1d213b;
color: #f4f4f4;
}

a {
    color:white;
    text-decoration: none;
}

body{
    margin:0;
}

h1{
    margin:0;
}

p{
    margin:0 0 1rem 0;
}
img{
    width: 140px;
}

button{
    background-color:rgb(28, 103, 165);
    color: #f4f4f4;
    border-radius: 5px;
    padding: .3rem .8rem .3rem .8rem;
}